fastapi
uvicorn
prisma
google-genai
requests
python-dotenv
transformers
torch
sentence-transformers
ddgs
thefuzz
python-Levenshtein
chromadb
wikipedia
langchain
langchain-google-genai
langchain-community

